*{
    margin: 0;
    padding: 0;
}

nav{
    width: 100%;
    background-color: rgb(55, 202, 182);
    height: 60px;
}
.nav_box{
   
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;

}
.my_shop{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    margin-top: 10px;
}
.cart{
    margin-top: 10px;
    cursor: pointer;

}
.cart span:nth-child(1){
  
    font-size: 2rem;

}
.cart span:nth-child(2){
    padding: 3px;
    background-color: #fff;
    color: black;
    font-weight: bold;
    position: relative;
    top: -15px;
    border-radius: 50%;
}